:root{
    --bg-color:white;
}

body{
    background-color: var(--bg-color);
}


.theme{
    
    margin:10px 10px;
    margin-top: -15px;
    /* margin-bottom: 10px;  */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
fieldset{
    /* border-radius:15px; */
    border-bottom: 0.5px solid white;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    background-color: #fff;

    

}
.theme label{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 15px;
    text-align: center;
    height: fit-content;
    /* padding: 1px; */
    
}

input[type="radio"]{
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1.6px solid black;
    border-radius: 50%;
    align-items: center;
    /* background-color: var(--radio-color); */
    outline: 2px solid var(--radio-color);
    outline-offset: 3px;
    padding: 5px;
    margin:0px 15px;
    
}
input[type="radio"]:checked{
    background-color: var(--radio-color);
}

#light{
    --radio-color: #faedcd;
}

#blue{
   --radio-color:#4cc9f0 ;
}

#green{
    --radio-color:#6a994e;

}

#dark{
    --radio-color:#000;
}

:root:has(#light:checked){
    --bg-color:#faedcd;
}
:root:has(#blue:checked){
  --bg-color:#4cc9f0;
}
:root:has(#green:checked){
    --bg-color:#6a994e;
}
:root:has(#dark:checked){
    --bg-color:#0c0c17;
}


